#blog {
  background: #f8f9fd;
  padding-bottom: 39px;
}

#blog h1 {
  text-align: center;
  margin-bottom: 56px;
}

#blog h2 {
  margin-bottom: 32px;
}

.blog-card-single {
  background: #fff;
  padding: 19px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.all-blogs-wrapper {
  margin-top: 64px;
}

.blog-card-single img {
  height: 218px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.blog-card-single h4 {
  margin: 21px 0 13px;
  max-width: 300px;
}

.blog-card-single p {
  font-size: 14px;
  margin-bottom: 22px;
}
.date-wrapper {
  margin-top: auto;
}
.date-wrapper p {
  margin-bottom: 0 !important;
  color: #1c1c1c;
}
.read-more-link-wrapper {
  text-align: right;
}
.read-more-link-wrapper a {
  font-size: 14px;
  text-decoration: underline;
}
.blog-recent-single__content .row,
.date-wrapper .row {
  align-items: center;
}

.blog-featured-post .blog-card-single h4 {
  font-size: 26px;
  max-width: 450px;
}
.blog-featured-post .blog-card-single p {
  font-size: 16px;
}

.blog-featured-post .read-more-link-wrapper a {
  font-size: 16px;
}

.blog-recent-single {
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
}

.blog-recent-single__content h4 {
  max-width: 280px;
}
.blog-recent-single__content p {
  font-size: 12px;
  margin-bottom: 10px;
}
.blog-recent-single__content a {
  text-decoration: underline;
}
.blog-recent-single__content a,
.blog-recent-single__content .row p {
  font-size: 14px;
  margin-bottom: 0;
}
.blog-recent-single__content .row p {
  color: #1c1c1c;
}
.recent-link-wrapper {
  text-align: right;
}
.blog-featured-post .row p {
  margin-bottom: 0;
}
.blog-recent-posts img {
  height: 143px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}
#blog_single {
  background: #f8f9fd;
  padding-bottom: 40px;
}
.blog-single-hero img {
  aspect-ratio: 6 / 4;
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
}
.blog-single-meta {
  margin: 16px 0 40px;
}
.author-wrapper {
  display: flex;
  align-items: center;
}
.author-wrapper img {
  flex-basis: 36px;
  max-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.author-wrapper span {
  flex: 1;
  padding-left: 10px;
  font-size: 18px;
  color: #1c1c1c;
}
.blog-single-date {
  text-align: right;
}
.blog-single-date {
  font-size: 18px;
  color: #1c1c1c;
}
.blog-single-content h1 {
  font-size: 42px;
  font-weight: 500;
}

.blog-single-content h2 {
  font-size: 26px;
  font-weight: 500;
  margin: 35px 0 21px;
}

.blog-comment-form {
  margin-top: 45px;
}
.blog-comment-form form {
  margin-top: 21px;
}
.blog-comment-form h3 {
  margin-bottom: 25px;
}
.blog-comment-form input {
  height: 64px;
}
.blog-comment-form textarea,
.blog-comment-form input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-left: 21px;
  outline: none;
  color: #4e5063;
}
.blog-comment-form textarea::placeholder,
.blog-comment-form input::placeholder {
  color: #4e5063;
}
.blog-comment-form textarea {
  height: 277px;
  padding-top: 20px;
  resize: none;
}
.blog-comment-form button {
  margin-top: 40px;
  transition: all 0.2s ease;
}
.latest-news {
  margin-top: 60px;
  padding-top: 49px;
  border-top: 1px solid #e7ecf0;
}
.latest-news h2 {
  font-weight: 500;
  margin-bottom: 25px;
}
.blog-recent-single__img img {
  height: 117px;
  object-fit: cover;
  border-radius: 10px;
}
.blog-sidebar .blog-recent-single {
  padding: 20px;
}
.blog-sidebar .blog-recent-single__content h4 {
  font-size: 16px;
}
.blog-sidebar .blog-recent-single__content p {
  font-size: 10px;
  margin-bottom: 7px;
}
.blog-sidebar .recent-link-wrapper a,
.blog-sidebar .recent-date-wrapper p {
  font-size: 12px;
  margin-bottom: 0;
}
.latest-news .view-all-blogs {
  margin-top: 28px;
}
.latest-news .view-all-blogs a {
  padding: 12px 46px;
}
@media (max-width: 1024px) {
  .blog-featured-post {
    margin-bottom: 20px;
  }
  .col-sidebar-blog {
    display: none;
  }
  .blog-single-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .blog-single-content li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .latest-news .date-wrapper p {
    margin-bottom: 0;
  }
  .latest-news {
    margin-top: 40px;
    padding-top: 30px;
  }
  .blog-comment-form button {
    margin-top: 20px;
  }
  .blog-comment-form textarea {
    height: 150px;
  }
  .blog-comment-form input {
    height: 50px;
  }
  .blog-comment-form textarea,
  .blog-comment-form input {
    font-size: 14px;
  }
  .blog-comment-form h3 {
    margin-bottom: 15px;
  }
  .blog-comment-form {
    margin-top: 30px;
  }
  .blog-single-meta {
    margin: 16px 0 25px;
  }
  .blog-single-content h2 {
    font-size: 20px;
    margin: 25px 0 18px;
  }
  .blog-single-content h1 {
    font-size: 24px;
  }
  .author-wrapper span,
  .blog-single-date {
    font-size: 14px;
  }
  .blog-single-hero img {
    border-radius: 20px;
  }
  .blog-featured-post .blog-card-single h4 {
    font-size: 22px;
  }
  .blog-recent-single__content p,
  .blog-featured-post .read-more-link-wrapper a,
  .blog-featured-post .blog-card-single p {
    font-size: 14px;
  }
  .blog-recent-single {
    padding: 20px;
  }
  .blog-card-single p {
    margin-bottom: 17px;
  }
  .blog-recent-single__content h4 {
    margin: 21px 0 13px;
  }
  .blog-recent-single__content p {
    margin-bottom: 17px;
  }
  .all-blogs-wrapper {
    margin-top: 45px;
  }
  .blog-recent-posts img {
    height: 218px;
  }
}
